[Unit]
Description=USB Gadget %I
ConditionPathIsDirectory=/sys/kernel/config/usb_gadget

[Service]
EnvironmentFile=/etc/gadget/%i.conf
RemainAfterExit=yes
ExecStartPre=/sbin/modprobe libcomposite
ExecStart=/sbin/configure-gadget %i
ExecStop=/sbin/remove-gadget %i

[Install]
WantedBy=multi-user.target
